.ficha {
    width: var(--layout-width);
    margin: 30px auto 14px;
    color: var(--black);
    font-size: 15px;
}
@media print {
    .ficha {
        margin-top: 20px;
        margin-bottom: 0;
    }
}
.ficha span {
    line-height: 1.2;
}
.ficha__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 100%;
    font-size: 15px;
}
.ficha__header-col-de-emblema {
    flex-direction: column;
    padding: 20px 0;
}
.ficha__emblema {
    margin: auto;
    width: 55px;
    height: 55px;
}
.ficha__box-descricao-de-emblema span {
    display: block;
    text-align: center;
    line-height: 1.4;
    font-weight: 700;
}
.ficha__header__col-de-pnct {
    flex-direction: column;
    padding-top: 23px;
    padding-bottom: 23px;
}
.ficha__header__col-de-pnct h2 {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
}
.ficha__moldura-de-logo-de-pnct {
    margin-top: 7px;
    width: 140px;
    height: 55px;
}
.ficha__header__col-de-localizacao {
    display: grid;
    grid-template-rows: 25px repeat(4, 1fr);
}
.ficha__col-de-localizacao__linha {
    padding-left: 4px;
}
.ficha__col-de-localizacao__linha--margin-t {
    margin-top: 6px;
    min-height: 21px;
}
.ficha__col-de-localizacao__linha--border-t {
    border-top: 1px solid var(--cor-de-borda);
    padding-top: 2px;
    margin-top: 10px;
}
.ficha__col-de-localizacao__linha--border-t {
    border-top: 1px solid var(--cor-de-borda);
    padding-top: 2px;
    margin-top: 10px;
}
.ficha__col-de-localizacao__linha input {
    flex: 1;
}
.ficha__header__col-de-titulo {
    grid-column: 1/4;
    padding: 5px 0;
    background-color: var(--black);
    color: var(--yt);
}
.ficha__titulo {
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
}
.ficha__seccao__titulo {
    font-size: 15px;
    text-align: center;
    padding: 8px 0;
    text-transform: uppercase;
    background-color: var(--black);
    color: var(--yt);
}
.ficha__seccao__titulo--margin-top {
    margin-top: 20px;
}
.seccao-1__header__linha-superior {
    display: grid;
    grid-template-columns: 380px 1fr;
    grid-template-areas: ". col2";
}
.seccao-1__header__col-2-da-linha-superior {
    grid-area: col2;
    display: grid;
    grid-template-rows: repeat(2, 24px);
}
.seccao-1__header__linha-com-numeros-das-colunas,
.seccao-1__header__linha-de-indicadores {
    display: grid;
    grid-template-columns: repeat(6, 101.50px);
}
.grid-template-cols-7 {
    display: grid;
    grid-template-columns: 380px repeat(6, 101.50px);
    grid-template-rows: 50px;
}
.seccao-1__header__linha-de-indicadores-colunares {
    grid-template-rows: 80px;
    text-align: center;
}
.seccao-1__linha-de-indicadores-colunares__celula-1 {
    margin-top: -1px;
}
.ficha__indicador-linear {
    padding-left: 4px;
}
.grid-template-cols-2 {
    display: grid;
    grid-template-columns: calc(380px + 101.50px) 1fr;
    grid-template-rows: 50px;
}
.ficha__rodape {
    margin-top: 10px;
    padding: 0 4px;
    min-height: 71px;
    display: grid;
    grid-template-columns: 700px 1fr;
    align-items: center;
}
.ficha__rodape__campo-de-nome,
.ficha__rodape__campo-de-categoria {
    min-height: 21px;
}
.ficha__rodape__campo-de-nome {
    width: 430px;
}
.ficha__rodape__campo-de-categoria {
    width: 200px;
}
/* CLASSES REUTILIZÁVEIS */
.celula-nao-aplicavel {
    background-color: var(--gray-a);
}
.--cor-de-fundo-padrao {
    background-color: var(--gray-c);
}
.--cor-de-fundo-padrao--discreta {
    background-color: var(--gray-light);
}
.--txt-align-center {
    text-align: center;
}
.--border-b-thicker {
    border-bottom: 8px solid var(--gray);
}
.ficha input:focus {
    border-bottom: 2px solid var(--blue);
    background-color: var(--greenyellow);
    color: var(--cor-de-texto);
}
@media screen {
    .input--realcar-totais {
        background-color: var(--cor-de-realce-de-totais);
    }
}
.input--bg-color-danger {
    background-color: var(--cor-de-risco);
    color: var(--yt)
}
.input--font-small {
    font-size: 13.5px
}